//Colors
$color-blue-dark: #2e5c67;
$color-blue-light: #c7e5ee;
$color-white: #ffffff;
$color-black: #000000;

//Fonts
$font-primary: "Roboto", sans-serif;

//Device sizes
$xs: 375px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
