.contact {
  &__content {
    background-color: $color-white;
    border-radius: 5px;
    box-shadow: 0 2px 12px 0px rgba(60, 60, 60, 0.1);
    margin: 0 auto 30px;
    padding: 30px 15px;
    max-width: 340px;
    text-align: center;

    @include breakpoint($sm) {
      max-width: 100%;
      padding: 30px 40px;
    }

    @include breakpoint($lg) {
      flex: 1;
      margin-top: 55px;
      max-width: 250px;
      min-height: 425px;
      text-align: left;
      padding: 40px 15px;
    }

    h2 {
      margin-bottom: 30px;
    }

    p {
      margin: 0 0 25px;

      .icon {
        margin-right: 10px;
      }
    }
  }

  &__info {
    @include breakpoint($sm) {
      display: flex;
      justify-content: space-between;
    }

    @include breakpoint($lg) {
      display: block;
    }
  }
}
