footer {
  background-color: #2d3436;
  padding: 50px 0;
  margin-top: auto;

  p {
    color: $color-white;
    text-align: center;

    a {
      color: $color-white;
      text-decoration: underline;
    }
  }
}
