.nav {
  align-items: center;
  background-color: $color-blue-primary;
  border-bottom: 1px solid $color-gray;
  box-shadow: 0 2px 4px 0 rgba(23, 31, 39, 0.1);
  color: $color-white;
  display: flex;
  justify-content: space-between;
  padding: 8px 15px;
  position: relative;

  &__logo {
    align-items: center;
    display: flex;

    img {
      max-width: 75px;
    }

    span {
      margin-left: 10px;
    }
  }

  &__info {
    align-items: center;
    cursor: pointer;
    display: flex;

    &-user {
      background: $color-blue-dark;
      border-radius: 50%;
      padding: 8px;
      float: left;

      .icon {
        color: $color-white;
        font-size: 18px;
      }
    }

    span {
      padding: 8px;
      display: none;

      @include breakpoint($sm) {
        display: block;
      }
    }
  }

  &__settings {
    display: none;

    &.show {
      background-color: $color-white;
      box-shadow: 0 2px 12px 0px rgba(60, 60, 60, 0.32);
      display: block;
      position: absolute;
      right: 15px;
      top: 40px;

      li {
        display: block;
        padding: 10px 20px;
        text-align: right;

        &:first-child {
          border-bottom: 1px solid $color-gray;
        }

        a {
          font-size: 14px;
        }
      }
    }
  }
}
