.nav {
  align-items: center;
  border-bottom: 1px solid $color-gray;
  display: flex;
  justify-content: space-between;
  padding: 8px 15px;

  &__logo {
    align-items: center;
    display: flex;

    img {
      max-width: 75px;
    }
  }

  &__user {
    background: $color-blue-dark;
    border-radius: 50%;
    padding: 8px;

    .icon {
      color: $color-white;
      font-size: 30px;
    }
  }
}
