.tabs {
  position: relative;
  max-width: 340px;
  margin: 30px auto;
  min-height: 540px;
  clear: both;

  @include breakpoint($sm) {
    max-width: 100%;
  }

  @include breakpoint($md) {
    min-height: 450px;
  }

  @include breakpoint($lg) {
    flex: 4;
    max-width: 880px;
  }

  .tab {
    float: left;

    &:first-child {
      label {
        border-radius: 5px 0 0 0;
      }
    }

    [type="radio"] {
      display: none;
    }

    label {
      background: rgba(204, 204, 204, 0.30980392156862746);
      cursor: pointer;
      padding: 10px;
      border-radius: 0 5px 0 0;
      position: relative;
      top: -3px;

      .icon {
        margin-right: 10px;
        vertical-align: middle;
      }
    }

    .content {
      position: absolute;
      left: 0;
      top: 25px;
      background-color: $color-white;
      border-radius: 0 5px 5px 5px;
      box-shadow: 0 2px 12px 0px rgba(60, 60, 60, 0.1);
      overflow: hidden;
      right: 0;
      bottom: 0;
      padding: 40px 20px 20px;

      @include breakpoint($sm) {
        padding: 40px;
      }

      @include breakpoint($md) {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        flex-wrap: wrap;
      }

      @include breakpoint($lg) {
        padding: 40px 15px;
      }

      > * {
        opacity: 0;
        transform: translateX(-90px);
        transition: all 0.5s ease;
      }
    }

    [type="radio"]:checked {
      ~ label,
      ~ .content {
        z-index: 1;

        > * {
          opacity: 1;
          transform: translateX(0);
        }
      }

      ~ label {
        background: $color-white;
        border-bottom: none;
        z-index: 2;
      }
    }
  }
}
