.tabs {
  position: relative;
  max-width: 340px;
  margin: 30px auto;
  min-height: 520px;
  clear: both;

  .tab {
    float: left;

    [type="radio"] {
      display: none;
    }

    label {
      background: $color-gray;
      padding: 10px;
      border: 1px solid $color-black;
      position: relative;
      top: -3px;

      .icon {
        margin-right: 10px;
        vertical-align: middle;
      }
    }

    .content {
      position: absolute;
      left: 0;
      top: 25px;
      background-color: $color-white;
      border: 1px solid $color-black;
      overflow: hidden;
      right: 0;
      bottom: 0;
      padding: 20px;

      > * {
        opacity: 0;
        transform: translateX(-90px);
        transition: all 0.5s ease;
      }
    }

    [type="radio"]:checked {
      ~ label,
      ~ .content {
        z-index: 1;

        > * {
          opacity: 1;
          transform: translateX(0);
        }
      }

      ~ label {
        background: $color-white;
        border-bottom: none;
        z-index: 2;
      }
    }
  }
}
