body {
  color: $color-text;
  font-family: $font-primary;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 28px;
  line-height: 34px;
}

input {
  padding: 0;
  margin: 0;

  &:disabled {
    opacity: 0.8;
  }

  &::placeholder {
    color: #95a5a6;
  }
}

p {
  margin: 0;

  &.warning {
    color: $color-red;
  }
}
