.container {
  margin: 0 auto;
  max-width: 100%;

  @include breakpoint($sm) {
    max-width: 690px;
  }

  @include breakpoint($md) {
    max-width: 920px;
  }

  @include breakpoint($lg) {
    max-width: 1170px;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  &__label {
    background: none;
    font-size: 14px;
    padding: 0;
  }

  &__input {
    padding: 5px 0 5px 20px;
  }
}

.payment {
  margin-top: 50px;
  .btn {
    margin: 0 auto;
    width: 220px;
    display: block;
    text-align: center;

    .icon {
      margin-right: 10px;
      vertical-align: middle;
    }
  }

  small {
    display: block;
    font-size: 11px;
    margin: 5px 0;
    text-align: center;
  }
}
