//Colors
$color-blue-primary: #1f5ca9;
$color-blue-dark: #3498db;
$color-blue-light: #c7e5ee;
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #cccccc;
$color-red: #e74c3c;
$color-text: #5d5d5d;

//Fonts
$font-primary: "Lato", sans-serif;

//Device sizes
$xs: 375px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
